<div class="system-status">
  <div class="current">
    RubyGems.org Status: <span class="color color-<%= @status %>"><%= @status.upcase %></span>
  </div>
  <div class="refresh-timer">
    This page will <strong>automatically refresh</strong> (refreshing in <span id="refresh_timer">0</span> seconds)
  </div>
  <div class="clear"></div>
</div>