<div class="l-relative">
  <h1 class="t-display page__heading">
    Status
    <span class="status__subheading--<%= @status %>"><%= @status.upcase %></span>
  </h1>
  <p class="page__heading__info" data-icon="⧖">
    page refresh in
    <b id="refresh_timer">0</b>
  </p>
</div>
