<div class="main">
  <%= render :partial => 'pings' %>
</div>
<div class="sidebar">
  <div class="module">
    <h2>Instant updates <a href="http://twitter.com/rubygems_status">@rubygems_status</a></h2>
    <div class="module-content">
      <div id="tweets"></div>
    </div>
  </div>
</div>
<div class="clear"></div>
