<div class="announcement">
  <a href="http://tinyurl.com/anqa5s5">Check here for RubyGems.org's latest incident status, and info about what's going on right now.</a>
</div>
<div class="main">
  <%= render :partial => 'pings' %>
</div>
<div class="sidebar">
  <div class="module">
    <h2>Instant updates <a href="http://twitter.com/rubygems_status">@rubygems_status</a></h2>
    <div class="module-content">
      <div id="tweets"></div>
    </div>
  </div>
</div>
<div class="clear"></div>
