<div class="announcement">
  RubyGems has been experiencing growing pains lately and we aim to fix that. More information about the current pain points and infrastructure will soon be available <%= link_to "here", "https://groups.google.com/forum/?fromgroups=#!topic/rubygems-org/-xlwOYV9Bgw" %>. Your help is needed!
</div>
<div class="main">
  <%= render :partial => 'pings' %>
</div>
<div class="sidebar">
  <div class="module">
    <h2>Instant updates <a href="http://twitter.com/rubygems_status">@rubygems_status</a></h2>
    <div class="module-content">
      <div id="tweets"></div>
    </div>
  </div>
</div>
<div class="clear"></div>