/* -------------------------------------------------------------------------- */
/* Variables and Mixins */
/* -------------------------------------------------------------------------- */

$header_height: 50px;
$mobile_header_height: 80px;
$base_font_size: 13;

@function pem($targetpx, $basepx: $base_font_size) {
  @return #{$targetpx / $basepx}em;
}

/* -------------------------------------------------------------------------- */
/* Base Styles */
/* -------------------------------------------------------------------------- */

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: #{$base_font_size}px;
  margin: 0;
  padding: 0;
}

a {
  color: #016DC9;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

/* -------------------------------------------------------------------------- */
/* Wrappers */
/* -------------------------------------------------------------------------- */

.wrapper {
  .wrapper-header {
    height: $header_height;
    background: linear-gradient(#fafafa,#eaeaea);
    background: -moz-linear-gradient(#fafafa,#eaeaea);
    background: -ms-linear-gradient(#fafafa,#eaeaea);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fafafa),color-stop(100%,#eaeaea));
    background: -webkit-linear-gradient(#fafafa,#eaeaea);
    background: -o-linear-gradient(#fafafa,#eaeaea);
    background: linear-gradient(#fafafa,#eaeaea);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#eaeaea')";
    box-shadow: 0 1px 0 rgba(255,255,255,0.4),0 0 10px rgba(0,0,0,0.1);
    border-bottom: 1px solid #cacaca;

    .header {
      width: 900px;
      margin: 0px auto;
    }
  }

  .wrapper-content {
    .content {
      width: 900px;
      margin: 0px auto;
      padding-top: 20px;

      .main {
        width: 620px;
        float: left;
      }

      .sidebar {
        width: 250px;
        float: right;
      }
    }
  }
}

/* -------------------------------------------------------------------------- */
/* General Styles */
/* -------------------------------------------------------------------------- */

.system-status {
  height: $header_height;

  .current, .refresh-timer {
    line-height: $header_height;
    height: $header_height;
  }

  .current {
    font-size: pem(20);
    font-weight: bold;
    float: left;
  }

  .refresh-timer {
    font-size: pem(12);
    color: #333;
    float: right;
  }
}

span.status {
  display: block;
  background: grey;
  color: #fff;
  width: 14px;
  height: 20px;
  line-height: 20px;
  background: url('/assets/grey.png') no-repeat 0px center;
}

span.status-up      { background: url('/assets/green.png') no-repeat 0px center; }
span.status-down    { background: url('/assets/red.png') no-repeat 0px center; }
span.status-partial { background: url('/assets/yellow.png') no-repeat 0px center; }

.color         { text-shadow: #fff 0px 1px 0px; }
.color-up      { color: #89e119; }
.color-down    { color: #e84120; }
.color-partial { color: #f5df19; }
.color-unknown { color: grey; }

.announcement {
  font-size: pem(13);
  line-height: pem(20);
  padding: 12px;
  color: #333;
  border-radius: 4px;
  -moz-border-radius: 4px;
  margin-bottom: 20px;
  background: #FBFFCE;
  border: 1px solid #EFF2C7;
}

#tweets {
  .tweet {
    padding: 4px 0px;
    border-bottom: 1px solid #ddd;

    p {
      margin: 4px 0px;
    }

    p.meta {
      margin: 4px 0px;
      font-size: pem(12);

      a {
        color: #777;
      }
    }
  }

  .tweet:last-child {
    border: 0px none;
  }
}

/* -------------------------------------------------------------------------- */
/* Services Status Table */
/* -------------------------------------------------------------------------- */

table.services {
  width: 100%;
  border-collapse: collapse;

  td {
    border-bottom: 1px solid #eee;
    padding: 10px 0px;
  }

  td.status {
    width: 22px;
  }

  td.service {
    span.name {
      display: inline-block;
      font-size: pem(16);
      font-weight: bold;
    }

    span.description {
      display: inline-block;
      color: #aaa;
    }
  }

  td.time {
    color: #aaa;
    font-size: pem(12);
    text-align: right;
  }

  tr:last-child {
    td {
      border: 0px none;
    }
  }
}

/* -------------------------------------------------------------------------- */
/* Sidebar Styles */
/* -------------------------------------------------------------------------- */

.sidebar {
  color: #333;
  font-size: pem(13);

  .module {
    background: #f1f1f1;
    padding: 12px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;

    h2 {
      font-size: pem(13);
      line-height: pem(20);
      margin: 0px;
      border-bottom: 1px solid #ccc;
      padding-bottom: 6px;
      margin-bottom: 6px;
    }
  }
}

/* -------------------------------------------------------------------------- */
/* Media Queries */
/* -------------------------------------------------------------------------- */

@media (max-width: 979px) {
  .wrapper {
    .wrapper-header {
      .header {
        width: 80%
      }
    }

    .wrapper-content {
      .content {
        width: 80%;

        .main {
          width: 75%;
        }

        .sidebar {
          width: 23%;
          .module h2 {
            border: none;
          }
        }
      }
    }
  }
}

@media (max-width: 860px) {
  .wrapper {
    .wrapper-header {
      height: $mobile_header_height;
    }
  }

  .system-status {
    height: $mobile_header_height/2;

    .current, .refresh-timer {
      float: left;
      height: $mobile_header_height/2;
      line-height: $mobile_header_height/2;
    }
  }
}

@media (max-width: 700px) {
  .wrapper {
    .wrapper-header {
      .header {
        width: 80%
      }
    }

    .wrapper-content {
      .content {
        width: 80%;

        .main {
          width: 100%;
        }

        .sidebar {
          margin-top: 20px;
          text-align: center;
          width: 100%;
          .module h2 {
            border: none;
          }
        }
      }
    }
  }
}

@media (max-width: 420px) {
  .wrapper {
    .wrapper-header {
      .header {
        width: 95%
      }
    }

    .wrapper-content {
      .content {
        width: 95%;

        .main {
          width: 100%;
        }

        .sidebar {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 320px) {
  .system-status {
    .current {
      font-size: pem(18);
    }
    .refresh-timer {
      font-size: pem(10);
    }
  }
}
